$primary: #f9a13b;
$secondary: #96a2ae;
$info: #2e5aac;
$success: #4aab3b;
$warning: #b95000;
$danger: #da1414;
$default-color: #fff;

// ----Button Action ----
$primary-button-hover: #fca177;
$primary-button-active: #f7890a;
$primary-button-disabled: #8c8c8c;

$secondary-button-hover: #adb6c0;
$secondary-button-active: #7f8d9c;
$secondary-button-disabled: #8c8c8c;
