// variables desktop
$p-font-size-large: 1.313rem;
$p-font-size-base: 1rem;
$p-font-size-small: 0.813rem;
$p-font-size-xsmall: 0.688rem;
$p-font-size-tiny: 0.563rem;

$p-line-height-large: 2rem;
$p-line-height-base: 1.5rem;
$p-line-height-small: 1.25rem;
$p-line-height-xsmall: 1rem;
$p-line-height-tiny: 0.75rem;

$pAction-font-size-large: 1.125rem;
$pAction-font-size-medium: 1rem;
$pAction-font-size-small: 0.875rem;

$pAction-line-height-large: 1.75rem;
$pAction-line-height-medium: 1.5rem;
$pAction-line-height-small: 1.25rem;

$pAction-font-weight: 700;

$h1-font-size: 4.75rem;
$h2-font-size: 2.18rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.12rem;
$h6-font-size: 0.87rem;

$h1-line-height: 4.75rem;
$h2-line-height: 2.18rem;
$h3-line-height: 2rem;
$h4-line-height: 1.4375rem;
$h5-line-height: 1.25rem;
$h6-line-height: 1rem;

// Variables Tablet
$h1-font-size-tablet: 2.125rem;
$h2-font-size-tablet: 1.875rem;
$h3-font-size-tablet: 1.625rem;
$h4-font-size-tablet: 1.5rem;
$h5-font-size-tablet: 1.125rem;
$h6-font-size-tablet: 0.975rem;

$h1-line-height-tablet: 2.5rem;
$h2-line-height-tablet: 1.875rem;
$h3-line-height-tablet: 1.5rem;
$h4-line-height-tablet: 1.5rem;
$h5-line-height-tablet: 1.25rem;
$h6-line-height-tablet: 1rem;

// Variables mobile
$h1-font-size-mobile: 2rem;
$h2-font-size-mobile: 1.875rem;
$h3-font-size-mobile: 1.625rem;
$h4-font-size-mobile: 1.4375rem;
$h5-font-size-mobile: 1.125rem;
$h6-font-size-mobile: 0.975rem;

$h1-line-height-mobile: 2.5rem;
$h2-line-height-mobile: 2rem;
$h3-line-height-mobile: 2rem;
$h4-line-height-mobile: 1.5rem;
$h5-line-height-mobile: 1.25rem;
$h6-line-height-mobile: 1rem;
